.side-right {
    top: 56px !important;
    transition: 1s;
}

.nav-right {
    position: fixed;
    right: 20px;
    top: 60px;
}

.tooltip-trigger-children {
    display: inline-block;
}

.info-icon {
    color: #0d6efd;
    margin: 5px;
}