@use "../../assets/variables"as v;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.side-offcanvas {
    &-button {
        position: fixed;
        right: 20px;
        top: 60px;
    }

    &-panel {
        top: 56px !important;
        transition: 1s;
    }
}

.tooltip-trigger-children {
    display: inline-block;
}

.info-icon {
    color: $primary;
    margin: 5px;
}