@use "../../../assets/variables"as v;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.recipe-add-page {
    .border {

        &-right {
            border-right: 1px solid black;
            padding-left: 50px;
            padding-right: 50px;
        }

        &-left {
            border-left: 1px solid black;
            padding-left: 50px;
            padding-right: 50px;
        }

    }

    input {
        width: 440px;
    }

    .ingredient-section {


        &>* {
            margin-bottom: 0px !important;

            input {
                width: 90px;
            }
        }
    }

    .steps-section,
    .ingredient-section {
        .bin-icon {
            padding-right: 0px;
            text-align: right;
            margin: auto;
            font-size: 28px;
            cursor: pointer;
        }
    }

    .steps-section {
        .step-number {
            font-size: 38px;
        }

    }

    .bottom-part {
        padding-top: 20px;
        padding-bottom: 20px;
    }

}