@use "../../../assets/variables"as v;
@import "../../../assets/bootstrapCustomTheme.scss";

.recipe-add-page {
    .delete-button {
        svg {
            font-size: 24px
        }
    }

    .border {

        &-right {
            border-right: 1px solid black;
            padding-left: 50px;
            padding-right: 50px;
        }

        &-left {
            border-left: 1px solid black;
            padding-left: 50px;
            padding-right: 50px;
        }

    }

    .steps-section,
    .ingredient-section {
        .bin-icon {
            padding-right: 0px;
            text-align: right;
            margin: auto;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .steps-section {
        .step-number {
            font-size: 38px;
        }

    }

    .bottom-part {
        padding-top: 20px;
        padding-bottom: 20px;
    }

}