@use "../../../assets/variables"as v;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.recipe-details-page {
    .basic-container-border {}

    .main {
        .main-img {
            width: calc(100% - 2rem);
        }

        .breadcrumps {
            &>* {
                text-align: start;
                font-size: 20px;
            }
        }

        .basic-info {
            text-align: start;
            font-size: 19px;

            .test {
                height: 80px;
            }
        }

        .ingredients {

            .list {
                text-align: start;
                font-size: 19px;

                .ingredient-amount {
                    font-weight: 600;
                }
            }
        }

        .steps {
            .list {
                text-align: start;
            }
        }

        .private-note {
            .edit-save-btn {
                margin-right: 0px !important;
            }
        }

        .comments {
            .stars-button {
                justify-content: space-between;
            }

            .single-comment {
                .content {
                    min-height: 50px;
                    background-color: rgb(250, 248, 248);
                    text-align: start;
                }
            }
        }

    }

    .other {
        .test {
            height: 200px;
        }

        .category-no-border {
            border: 0px;
        }

        .recipes {
            .list {
                text-align: start;
            }

        }
    }



    .test {
        height: 20px;
        background-color: gray;
        border: 1px solid black;
    }

}