@use "../../../assets/variables"as v;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.recipe-details-page {
    .details-container {
        .main-container {
            width: 100%;
            max-width: 1075px;
        }
    }

    .basic-container-border {}

    .author-date {
        font-size: 19px;

        .owner-login {
            width: 250px;
        }

        .recipe-creation-time {
            width: 160px;
        }

        .rating-section {
            width: 400px;
        }
    }

    .main {
        .main-img {
            width: calc(100% - 2rem);
        }

        .breadcrumps {
            margin-bottom: 33px;

            &>* {
                text-align: start;
                font-size: 20px;

                ol {
                    margin-bottom: 0px !important;
                }

            }
        }

        .action-buttons {
            position: relative;

            >div {
                position: relative;
                top: -38px;

                button {

                    font-size: 20px;
                    width: 60px;
                    height: 60px;
                    box-shadow: 0px 0px 34px 0px rgba(34, 42, 134, 1);
                }
            }
        }

        .basic-info {
            clear: both;
            text-align: start;
            font-size: 19px;

            .test {
                height: 130px;
            }

            .description {
                padding-top: 20px;
                padding-bottom: 20px;
                /* border: 1px solid black; */
                /* border-radius: 15px; */
                /* background-color: #ccc; */
                /* box-shadow: 0 0 5px 10px #ccc; */
                border-left: 6px solid #666;
                padding-left: 30px;
                border-radius: 0px;
            }
        }

        .rating-section {
            .position {
                padding-right: 0px !important;
            }

            .rating {
                font-size: 22px;
                height: 100%;
                align-items: center;
                text-align: right;

                .star-col {
                    margin-top: 7px;

                }
            }

            @media (max-width: 1380px) {
                margin-left: 0px !important;

                .rating {
                    padding-left: 0px !important;
                }
            }
        }





        .icon-info {

            svg {
                font-size: 35px;
            }

            .icon {
                color: $primary;
                font-size: 35px;
            }

            .icon-col {
                text-align: center;
                border-right: 1px dashed $secondary;
            }

            >:last-child {
                border-right: 0px dashed $secondary;
            }

            @media (max-width: 768px) {
                >:last-child {
                    border-right: 1px dashed $secondary;
                }
            }
        }

        .ingredients {

            .list {
                text-align: start;
                font-size: 19px;

                .ingredient-amount {
                    font-weight: 600;
                }
            }
        }

        .steps {
            .step-text {
                padding-left: 2rem;
            }

            .list {
                text-align: start;
            }
        }

        .private-note {
            .edit-save-btn {
                margin-right: 0px !important;
            }
        }

        .comments {
            .stars-button {
                justify-content: space-between;
            }

            .save-btn {
                margin-right: 0px !important;
            }

            .single-comment {
                .content {
                    min-height: 50px;
                    background-color: rgb(250, 248, 248);
                    text-align: start;
                    width: 100%;
                    ;
                    padding: 6px;
                }
            }
        }

    }

    .other {
        .test {
            height: 200px;
        }

        .category-no-border {
            border: 0px;
        }

        .recipes {
            .list {
                text-align: start;
            }

        }
    }
}