@use "../../../assets/variables"as v;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.login-page {
    background-image: v.$login-page-image-url;
    background-size: 100% auto;

    >div {
        width: 1000px;
        background-color: white;
    }

    h6 {
        margin-bottom: 60px
    }

    .main-column {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 40px;

        .row {
            width: 500px;
            text-align: start;
            margin: auto;
        }
    }
}