.filtered-select,
.filtered-multiselect {

    &-toggle {
        background-color: rgb(255, 255, 255) !important;
        border-color: rgb(222, 226, 230) !important;
        color: rgb(33, 37, 41) !important;
    }

    &-button-text {
        display: inline-block;
        margin: 0;
        text-align: left;
    }

    &-list {
        max-height: 200px;
        overflow-y: auto;
    }

    &-checkbox {
        display: inline-block;
        color: rgb(222, 226, 230);

        .checked {
            color: rgb(13, 110, 253);
        }
    }
}