@use "../../assets/variables"as v;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.recipe-card {
    width: 18rem
}

.step-circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid $primary;

    .value {
        font-size: xx-large;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }

    &.circle-light {
        background-color: v.$background-light;
    }

    &.circle-dark {
        background-color: v.$background-dark;

    }
}

.vertical-pagination {
    width: 60px;
    float: right;

    .pagination-container {
        position: fixed;
        height: 100%;
        top: 150px;
        display: block;

        .page-button {
            display: block;
            width: 50px;
        }

        .empty-page-button {
            display: block;
            border: $input-border-width solid $input-border-color;
            border-radius: 5px;
            margin: 8px;
            padding: 4px;
            font-size: 20px;
            line-height: 20px;
            color: $primary;
            text-align: center;
        }
    }
}


.circle-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;


    .circle-container {
        padding: 10px;
        padding-top: 30px;
        background-image: v.$circle-card-image-url;
        background-size: 100% 100%;
        width: 100%;

        .card {
            min-height: 200px;
            width: 450px;
            margin-right: auto;
            margin-left: auto;

            .big-title {
                font-size: 31px;
                border-bottom: 1px solid $card-border-color;
            }

            .body {
                padding-right: 38px;
            }
        }

        .img {
            position: relative;
            top: -80px;
            left: 613px;
            height: 160px;
            width: 160px;
            border: 4px solid $white;
            cursor: pointer;

            &:hover {
                -ms-transform: scale(1.5);
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
                transition-duration: 1s;
            }
        }
    }
}

.filtered-select {

    &-toggle {
        background-color: $input-bg !important;
        border: $input-border-width solid $input-border-color !important;
        color: $input-color !important;

        &.form-control.is-invalid {
            border-color: $form-invalid-border-color !important;
        }

        &.form-control.is-valid {
            border-color: $form-valid-border-color !important;
        }
    }

    &-button-text {
        display: inline-block;
        margin: 0;
        text-align: left;
    }

    &-list {
        max-height: 200px;
        overflow-y: auto;
    }

    &-checkbox {
        display: inline-block;
        color: $input-border-color;

        .checked {
            color: $form-check-input-checked-bg-color;
        }
    }
}

.statistic-circle {
    position: relative;
    text-align: left;

    &-ring {
        animation: ring-clipper 4s infinite ease-in-out;
        border: 15px solid $primary;
        border-radius: 50%;
        z-index: 1;
    }

    &-value {
        font-size: larger;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-label {
        font-size: large;
    }

    @keyframes ring-clipper {
        0% {
            clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%, 10% 0%);
        }

        50% {
            clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%, 30% 0%);
        }

        100% {
            clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%, 10% 0%);
        }
    }
}

.notifications {
    .icon {
        font-size: 20px;
        line-height: 30px;
        position: relative;
        width: 30px;
        height: 100%;
        cursor: pointer;

        .badge {
            font-size: 10px;
            position: absolute;
            right: 0;
            bottom: 3px;
            padding: 3px;
            animation: notification-badge-opacity-blink 1s infinite linear;
        }

        @keyframes notification-badge-opacity-blink {
            80% {
                opacity: 1;
            }

            90% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    &-notification {
        border: 1px solid $card-border-color;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;

        .title {
            font-size: 20px;
            margin-bottom: 10px;

        }

        .icon {
            margin-left: 10px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

#notifications-popover {
    width: 350px;
    max-width: 350px;

    .popover-body {
        min-height: 100px;
        max-height: 400px;
        overflow-y: auto;
    }
}

.category-card {
    border: 1px solid $card-border-color;
    padding: 10px;
}

.time-amount-input {

    &-picker-popover {

        .value-picker {
            width: 80px;

            input {
                width: 45px;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}