@use "../../assets/variables"as v;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.user-details-page {
    background-image: v.$user-details-image-url;
    background-size: auto 100%;

    >div {
        background-color: white;
    }

    .edit-form {
        text-align: left;

        button {
            width: 200px;
        }
    }

    .statistic-circle {
        font-size: 30px;
    }
}