@import "./assets/bootstrapCustomTheme.scss";

.App {
  text-align: center;
  height: 100%;
}

.main {
  min-height: calc(100% - 56px - 58px)
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
  margin: 0 !important;
}

.alert-container {
  width: 500px;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 1100;
}

.basic-container {
  width: 1000px;
  height: 100%;
}

.basic-container-large {
  width: 1300px;
  height: 100%;
}

.basic-container-border {
  border: $input-border-width solid $gray-400;
  border-radius: 10px;
  box-shadow: $box-shadow;
}

.full-height-page {
  height: 87vh;
}

.info-icon {
  color: $primary;
  margin: 5px;
  cursor: pointer;

  &.disabled {
    opacity: $btn-disabled-opacity;
    cursor: not-allowed;
  }
}

.spinner {
  width: 100px;
  margin-top: 80px;
  height: 100px;
}

.round {
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .basic-container {
    width: 100%;
  }
}