@import "./assets/bootstrapCustomTheme.scss";

.App {
  text-align: center;
  height: 100%;
}

.main {
  min-height: calc(100% - 56px - 58px)
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
  margin: 0 !important;
}

.alert-container {
  width: 500px;
  position: fixed;
  top: 100px;
  right: 0;
}