@use "../../assets/variables"as v;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.main-page {
    text-align: center;

    .main-column {
        &>* {
            height: 200px;
            margin-right: 0;
            margin-left: 0;
        }
    }

    .recipe-circle-container {
        height: 490px;
    }

    .recipes-list,
    .categories {

        .title {
            height: 150px;
        }
    }

    .recipes-list {
        height: 690px;
    }

    .categories {
        height: auto;

        .categories-row {
            margin: auto;
            max-width: 1500px;
        }
    }

    .statistics {
        width: 100%;
        background-color: v.$background-beige;
        height: auto;

        .main-container {
            width: 1000px;
        }
    }

    .categories-section {
        .box {
            &>* {
                height: 20px;
                background-color: gray;
                border: 1px solid black;
            }
        }
    }
}