@use "../../../assets/variables"as v;
@import "../../../assets/bootstrapCustomTheme.scss";

.recipe-filter-page {
    .content-column {
        min-height: 80vh;
        position: relative;
    }

    .filter-column-width {
        width: 400px;
    }
}