$background-light: #7bdde3;
$background-dark: #e8f9fa;
$circle-card-image-url: url(https://img.freepik.com/premium-photo/food-cooking-background-black-table-fresh-vegetables-spices-herbs-ingredients-cooking_215990-485.jpg);