$background-light: #759a6d;
$background-dark: #b7cbb3;
$background-beige:#fdf7f1;

$primary:#8fad88;
$secondary:#615148;

$circle-card-image-url: url(../assets/images/bck.jpeg);

$element-hover-background-color: #e9ecef;
$element-active-background-color: #e9ecef;