@use "../../../assets/variables"as v;
@import "../../../assets/bootstrapCustomTheme.scss";

.recipe-collections-list-page {
    .content-column {
        min-height: 80vh;
        position: relative;
    }

    .collections-column {
        min-width: 300px;
    }
}